*{
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}
.container-alt{
    max-width: 1680px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-inner{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.bg-header{
    height: 121px;
    background-color: rgba(12, 11, 8, 1);;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.spoon{
    margin-left: 120px;
}
.list-nav-site{
    display: flex;
    gap: 30px;
}
.list-login{
    display: flex;
    gap: 30px;
}
.logo{
    font-family: "Cormorant Upright";
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
        /* padding-left: 80px; */
}
.nav-site>a{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
}
.login{
    font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
}
.book-table{
    padding-left: 15px;
    border-left: 1px solid white;
}
.hero{
    height: 920px;
    background-color: #0c0b08
}
.sidetext{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.hero-line{
    transform: rotate(180deg);
        writing-mode: vertical-lr;
        color: white;
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 40px;
        margin-bottom: 50px;
}
.hero-line>div{
    width: 61px;
    height: 1px;
    transform: rotate(90deg);
    background-image: linear-gradient(
        to left,
        rgba(220, 202, 135, 1),
        rgba(220, 202, 135, 1),
        rgba(220, 202, 135, 0.24)
    );
}
.logo-reservations{
    display: flex;
    justify-content: end;
}
.flavours{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-left: 120px;
        padding-top: 100px;
}
.hero-title{
        font-family: "Cormorant Upright";
        font-size: 90px;
        font-weight: 700;;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        padding-left: 120px;
}
.hero-title-p {
    font-family: "Cormorant Upright";
    font-size: 90px;
    font-weight: 700;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #DCCA87;
}
.hero-comment{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-left: 120px;
        width: 600px;
        margin-top: 30px;
        color: #AAAAAA;
}
.hero-content{
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    margin-bottom: 100px;
}
.hero-button{
        font-family: "Cormorant Upright";
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width:157px;
        height: 44px;
        color:#0c0b08;
        
         padding: 8px 32px 8px 32px;
        background-color: #DCCA87;
}

.div-hero-button{
    margin-top: 30px;
    padding-left: 120px;
}
.hero-scroll{
    width: 100%;
    display: flex;
    justify-content: end;
}
.hero-scroll>p{
    font-family: "Cormorant Upright";
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.04em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
/* .hero-scroll::before{
    content: "";
        display: block;
        width: 61px;
        height: 1px;
        background-color: #DCCA87;
        transform: rotate(90deg);
} */
.hero-numbers{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: "Cormorant Upright";
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.hero-numbers>div{
    align-self: center;
    width: 16px;
    height: 1px;
    background-color: #DCCA87;
}
.about-us{
    height: 959px;
    background-image: url(./img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-about-us{
        font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        margin-bottom: 25px;
}
.title-about-us-left {
    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #DCCA87;
    margin-bottom: 25px;
}
.list-section-about-us{
    display: flex;
    gap: 100px;
    padding-left: 1px;
}
.comment-about-us{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        width: 487px;
        margin-bottom: 40px;
}
.comment-about-us-left {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #AAAAAA;
    width: 487px;
    margin-bottom: 40px;
}
.about-us-button{
    display: flex;
    justify-content: end;
}
.li-img{
padding-top: 150px;
}
.li-list-section-about-us{
    padding-top: 350px;
}
.background-hero{
    height: 1099px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.foodanddrinks{
    height: 1045px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.poison{
    height: 1150px;
    background-color: #0C0c0c;
}
.happy-hours{
    height: 900px;
    background-image: url(./img/bghappyhours.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.todays-special{
    height: 1250px;
    background-color: #0C0c0c;
}
.Find-us{
    height: 992px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    height: 1058px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.reservations{
    height: 770px;
    background: #0c0b08
}
.div-reservations{
    width: 1364px;
    height: 466px;
    border: 1px solid rgba(220, 202, 135, 0.2); 
    background-color: #0C0c0c; 
}
.div-div-reservations{
    padding-top: 50px;
}
.div-p-reservations{
    display: flex;
    justify-content: center;
    padding-top: 50px;
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.reservations-spoon{
    display: flex;
    justify-content: center;
}
.div-title-reservations{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.title-reservations{
    font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
.list-reservations{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-inline-start: 0;
}
.li-selector{
    width: 412px;
    height: 60px;
    border: 1px solid #F5efdb;
}
.selector{
        font-family: "Cormorant Upright";
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        background-color: #0C0c0c;
        width: 410px;
        height: 60px;
}
.button-reservation{
    display: flex;
    justify-content: center;
}
.list-menu{
    width: 100%;
    height: 900px;
    background-image:
    url(./img/bgbeer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-menus{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    padding-top: 250px;
}
.type-of-menu{
        font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.type-of-menu:hover{
    text-decoration: underline;
}
.comment-special{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.comment-special>p{
    font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FFFFFF;
}
.special-spoon{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 7px;
}
.title-special{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.title-special>h3{
    font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
.list-specials{
    display: flex;
    width: 1300px;
    height: 660px;
    gap: 32px;
    flex-wrap: wrap
}
.list-specials>li{
    width: 380px;
    height: 596px
    
}
.menu-drinks{
        font-family: "Cormorant Upright";
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 243px;
        height: 58px;
        margin-bottom: 50px;
}
.list-drinks{
    display: flex;
    flex-wrap: wrap;
}
.name-drinks{
    width: 192px;
    height: 30px;
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
.div-menu-drinks{
    display: flex;
    justify-content: center;
}
.line{
    width: 119px;
    height: 1px;
    background-color: #FAFAFA;
    align-self: center;
}
.price{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 37px;
        height: 30px;
}
.firm{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        width: 412px;
        height: 28px;
        margin-bottom: 30px;
}
.div-li-menu{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.button-specials{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.chefs-word{
    height: 1045px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.list-chefs-section{
    display: flex;
    gap: 50px;
    height: 789px;
    padding-top: 100px;
}
.chef-title{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 87px;
}
.believe-in{
        font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        padding-top: 20px;
}
.comment-chef{
    font-family: "Open Sans";
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        padding-top: 70px;
}
.chefs-name{
        font-family: "Cormorant Upright";
        font-size: 32px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        padding-top: 70px;
}
.kevin-professions{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        padding-top: 10px;
        margin-bottom: 70px;
}
.happy-customers{
    height: 990px;
    background-color: #0c0b08;
}
.customers-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 10px;
}
.title-testimony{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.title-happy-customers{
        font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
.list-customers{
    display: flex;
    height: 443px;
    width: 100%;
    padding-top: 50px;
}
.customer{
    display: flex;
    width: 634px;
    height: 210px;
}
.customer-info{
    width: 410px;
    height: 174px;
}
.customer:nth-child(1){
    margin-bottom: 50px;
}
.info-about-customer{
    font-family: "Open Sans";
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
        padding-top: 20px;
}
.name-customer{
        font-family: "Cormorant Upright";
        font-size: 32px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        padding-top: 50px;
}
.customers-profession{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #F5EfDB;
        padding-top: 10px;
}
.video{
    height: 763px;
    background-image:url(./img/backroundvideo.png);
    background-repeat: no-repeat;
}
.logo-play{
    padding-top: 150px;
    padding-left: 100px;
}
.button-play{
    display: flex;
    justify-content: center;
}
.laurels{
    height: 947px;
    background-image: url(./img/backgrpound.png);
    background-repeat: no-repeat;

}
.awards{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 200px;
}
.title-laurels{
        font-family: "Cormorant Upright";
        font-size: 64px;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
}
.list-awards{
    display: flex;
    padding-top: 70px;
    gap: 50px;
}
.list-awards>ul{
    padding-inline-start: 0;

}
.type-of-awards{
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
    width: 301px;
    height: 94px;
}
.name-award{
        font-family: "Cormorant Upright";
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #DCCA87;
        margin-bottom: 10px;
}
.comment-about-award{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #AAAAAA;
}
.section-laurels{
    display: flex;
}
.img-laurels{
    padding-top: 100px;
}